@model CoreandFood.Data.Models.Category
@{
    ViewData["Title"] = "CategoryGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Category Update</h1>
<br />


@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{

    @Html.Label("Category Ad")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red" })
    <br />
    @Html.Label("Category Description")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x=>x.CategoryID)
    <button class="btn btn-warning">Update</button>

}